* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

/* ---VAR=== */
:root {
  --Purple-100: hsl(254, 88%, 90%);
  --Purple-500: hsl(256, 67%, 59%);

  --Yellow-100: hsl(31, 66%, 93%);
  --Yellow-500: hsl(39, 100%, 71%);

  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 7%);
}

.container {
  max-width: min(25rem, 100%);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  background-color: var(--White);
}

.grid-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 1rem;
}

h1 {
  font-size: 2.8em;
  line-height: 2.8rem;
  font-weight: 500;
  margin: 1.2rem 0 1rem 0;
}

h2 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1em;
  letter-spacing: -0.11rem;
}

h3 {
  font-weight: 500;
}

img {
  width: 100%;
  display: block;
}

/* item-1 */

.item-1 {
  background-color: var(--Purple-500);
  text-align: center;
  color: var(--White);
  padding: 2rem;
}

.item-1 img {
  width: 70%;
  margin: 0.2rem auto 0.5rem;
}

h3,
p {
  font-size: 1.1rem;
}

.item-1 span {
  color: var(--Yellow-500);
}

/* item-2 */

.item-2 {
  padding: 1rem;
}

.item-2 h2 {
  margin-top: 1rem;
}

/* item-3 */

.item-3 {
  background-color: var(--Yellow-500);
  padding: 1rem 1rem 0 1rem;
}

.item-3 img {
  width: 65%;
  margin: 1rem 0 0 0;
}

/* item-4 */

.item-4 {
  background-color: var(--Purple-100);
  text-align: center;
}

.item-4 h2 {
  margin: 2rem;
}

.item-4 .img-container {
  width: 90%;
  margin-inline: auto;
}

.item-4 h3 {
  margin: 1.5rem;
}

/* item-5 */

.item-5 {
  background-color: var(--Purple-500);
  text-align: center;
}

.item-5 img {
  width: 70%;
  margin: 1.5rem;
  margin-inline: auto;
}

.item-5 h2 {
  color: var(--White);
  margin: 1rem 4rem;
  font-size: 1.9em;
  font-weight: 500;
}

/* item-6 */

.item-6 {
  padding: 1rem;
}

.item-6 img {
  width: 60%;
  margin: 1.5rem 0;
}

/* item-7 */

.item-7 {
  background-color: var(--Yellow-100);
  padding: 2rem 2rem 0 2rem;
}

.item-7 h2 {
  font-size: 2rem;
}

.item-7 img {
  width: 70%;
  margin: 1.5rem 0 2rem;
}

.item-7 span {
  color: var(--Purple-500);
}

/* item-8 */

.item-8 {
  background-color: var(--Yellow-500);
  padding: 1.5rem;
}

.item-8 img {
  width: 75%;
  margin-top: 1.5rem;
}

.item-8 h2 {
  font-size: 2rem;
}

@media (min-width: 1400px) {
  body {
    display: flex;
    height: 100vh;
    align-items: center;
  }

  .container {
    max-width: min(1062px, 70%);
    padding: unset;
    padding: 3rem 0;
    display: grid;
    grid-template-areas:
      "item-7 item-1 item-1 item-4"
      "item-7 item-2 item-3 item-4"
      "item-8 item-2 item-3 item-4"
      "item-8 item-6 item-5 item-5";

    overflow: hidden;
  }

  .item-1 {
    grid-area: item-1;
  }

  .item-2 {
    grid-area: item-2;
  }

  .item-3 {
    grid-area: item-3;
  }

  .item-4 {
    grid-area: item-4;
  }

  .item-5 {
    grid-area: item-5;
  }

  .item-6 {
    grid-area: item-6;
  }

  .item-7 {
    grid-area: item-7;
    justify-content: center;
  }

  .item-8 {
    grid-area: item-8;
  }

  /* grid adjustments */

  .item-7,
  .item-8 {
    max-width: 13.5rem;
  }

  /* item-3 */

  .item-3 {
    overflow: hidden;
    min-width: 7rem;
  }

  .item-3 .img-container {
    height: 6rem;
    width: 90%;
    margin-inline: auto;
  }

  .item-3 img {
    width: 100%;
    object-fit: cover;
  }

  /* item-4 */

  .item-4 {
    text-align: left;
  }

  .item-4 .img-container {
    margin: unset;
    margin-left: 2rem;
    height: 90%;
    width: 140%;
  }

  .item-4 .img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
  }

  /* item-5 */

  .item-5 {
    max-width: 100%;
    flex-direction: row;
    text-align: left;
    align-items: center;
  }

  .item-5 .img-container {
    margin-left: 1rem;
  }

  .item-5 img {
    width: 100%;
  }

  .item-5 h2 {
    margin: unset;
    margin-inline: 0.5rem 2rem;
    font-size: 2.5em;
  }

  /* item-7 */
  .item-7 img {
    width: 100%;
    margin-inline: auto;
  }

  /* item-8 */

  .item-8 {
    justify-content: space-between;
  }

  .item-8 img {
    width: 100%;
  }
}
